body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--secondary-background-color);
  display: flex;
  padding: 0.5rem;
}

header>h1 {
  color: white;
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  padding-left: 1rem;
}

.menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.menu-button img {
  width: 30px;
  height: 30px;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.main-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
}

.sidebar {
  width: 0;
  z-index: 1;
  background-color: var(--secondary-background-color);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: 300px;
}

.sidebar.open~#page {
  margin-left: 300px;
}

.sidebar-button {
  width: 10rem;
  padding: 10px 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 500;
  background-color: var(--accent-color);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.sidebar-button:hover,
.sidebar-icon:hover {
  transform: scale(1.05);
  filter: brightness(1.08);
}

.sidebar-lists {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-list-item {
  width: 100%;
  padding: 10px 2rem;
  color: white;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.sidebar-list-item:hover {
  filter: brightness(1.2);
}

.active-sidebar-item {
  color: white !important;
  background: rgb(210, 0, 2);
  background: linear-gradient(90deg,
      var(--accent-color) -50%,
      var(--primary-background-color) 100%);
}

.to-do-list {
  flex-grow: 1;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  width: 70%;
  text-align: left;
  color: white;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
  padding-left: 1rem;
}


.to-do-left hr {
  border: none;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.to-do-list .task-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-task-btn {
  margin-left: 10px;
  padding: 0.2rem 0.5rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-task-btn:hover {
  background-color: darkred;
}

.sorting-controls {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  /* Icon color */
  font-size: 1.5rem;
  /* Icon size */
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.sort-button:hover {
  color: #555;
  /* Darker on hover */
}

.sort-button i {
  vertical-align: middle;
}

.delete-list-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
}

.delete-list-button:hover {
  background-color: darkred;
}

.edit-list-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 100px;
}

.edit-list-button:hover {
  background-color: darkgreen;
}

#new-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#new-task-form input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

#new-task-form button {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #06b, #06d);
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-task-form button:hover {
  background-image: linear-gradient(to right, #058, #05a);
}

#new-task-form input:focus {
  border-color: #0056b3;
  /* Highlight focus with a color change */
}

#new-task-form input::placeholder {
  color: #aaa;
  transition: color 0.3s ease-out;
}

#new-task-form input:focus::placeholder {
  color: #ccc;
}